# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Banco local e backups
banco/*.db
banco/*.db-*
backups/

# Arquivos temporários
*.log
*.tmp
*.bak

# Sistema/IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Backups locais do projeto
StockMaster_backup/
